
<header class="navigation fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand font-tertiary h1" href="/admin/servicios"><i class="fas fa-arrow-alt-circle-left"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navigation">

    </div>
    
  </nav>
</header>
<section class="page-title bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary">{{title}}</h1>
      </div>
    </div>
  </div>

</section>
<!-- /page title -->

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
       
       
        <div class="content">
        <h3 class="font-tertiary" style="margin-bottom: 50px;">Edición de {{servicios.nombre}} </h3>
        <form id="form1">
        <input type="hidden" id="id" name="id" value="{{servicios.id}}">
        <div class="form-group">
          <label for="nombre"><strong>Nombre</strong></label>
            <textarea class="form-control" id="nombre" name="nombre">{{servicios.nombre}}</textarea>
        </div>
        <div class="form-group">
            <label for="descripcion"><strong>Descripción corta</strong></label>
            <textarea class="form-control" id="descripcion" name="descripcion">{{servicios.descripcion}}</textarea>
        </div>
        <div class="form-group">
            <label for="texto"><strong>Texto</strong></label>
            <textarea class="form-control" id="texto" name="texto">{{servicios.texto}}</textarea>
        </div>
        <div class="form-group">
             <label for="icono"><strong>Icono</strong></label>
            <textarea class="form-control" id="icono" name="icono">{{servicios.icono}}</textarea>
        </div>
        <button type="button" class="btn btn-primary btn-block" id="boton">Editar</button>
        <span class="text-success">{{message}}</span>
        </form>
        </div>
      </div>
    </div>
  </div>
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script>
window.addEventListener('load', () => {
        console.log("Cargado..")
        document.getElementById('boton').addEventListener('click', botonApretado);
    });

    const botonApretado = () => {
        console.log("%cUpss me apretaron :stuck_out_tongue_winking_eye:🐱‍🏍", "color:red");
        const datos = new URLSearchParams(new FormData(document.getElementById('form1')));
        // fetch
        fetch('/admin/servicios/modi/:id', {
            method: 'POST',
            body: datos
        })
            .then(response => response.json())
            .then(data => message(data));
    }

    const message = (datos) => {
        if (datos.success == true) {
            Swal.fire({
                position: 'center',
                icon: 'success',
                title: 'Servicio modificado',
                showConfirmButton: true,
            })
        } else {
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: 'Oops... Ocurrio un error ',
                showConfirmButton: true,
            })
        }
    }
  </script>
</section>